.fl {
  color: blue;
}
.fu {
  color: blue;
} /* function */
.ch,
.st {
  color: orange;
} /* string */
.kw {
  color: black;
} /* keyword */
.co {
  color: green;
} /* comment */

.message {
  color: gray;
  font-weight: bolder;
}
.error {
  color: red;
  font-weight: bolder;
}
.warning {
  color: purple;
  font-weight: bolder;
}

.section {
  text-align: justify;
}

.template-reference-index h2 {
    background-color: #c8a734;
        border-radius: 20px;
        padding: 12px;
}

.template-reference-index h3 {
    background-color: #c8a73440;
        border-radius: 12px;
        padding: 6px;
}

.text-muted {
  color: #0d4b7e !important;
}

.aa-suggestions {
  color: #faefd1 !important
}